<header class="navbar">
  <div class="navbar-inner">
    <a href="../../index.html" class="navbar-brand" aria-label="Development Standards Home">
      <img src="../../assets/images/infiweb-logo.png" alt="Standards Logo" class="navbar-logo" />
      <span>Development Standards</span>
    </a>
    <nav class="navbar-menu" aria-label="Main Navigation">
      <a href="../../index.html" class="navbar-link">Home</a>
      <a href="../pages/standards.html" class="navbar-link">Standards</a>
      <a href="../pages/checklists.html" class="navbar-link">Checklists</a>
      <a href="../pages/tasks.html" class="navbar-link">Tasks</a>
      <a href="../pages/templates.html" class="navbar-link">Templates</a>
    </nav>
  </div>
</header>
